@import "tailwindcss";

:root {
  --primary: #1b2325;
  --secondary: #fbfeff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-mc: var(--font-minecraftia);
  --font-mono: var(--font-geist-mono);

  --color-white: #fbfeff;
}

body {
  @apply bg-white text-primary font-mc;
}
