@import "tailwindcss";

:root {
  --primary: #1b2325;
  --secondary: #fbfeff;

  --color-white: #fbfeff;
  --color-lime: #70a544;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-mc: var(--font-minecraftia);

  --color-white: var(--color-white);
  --color-lime: var(--color-lime);
}

body {
  @apply bg-white text-primary font-mc;
}

.preview-swiper {
  --swiper-theme-color: var(--primary);
  --swiper-navigation-size: 0.95rem;
  padding-bottom: 30px !important;
}

.preview-swiper .swiper-pagination-bullet {
  opacity: 0.35;
  background-color: var(--primary);
  width: 30px;
  height: 5px;
  border-radius: 1px;
}

.preview-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--color-lime);
}
